html, body {
    font-family: "Nanum-Gothic";
    background-color: white;
}
#page_num ul li{
	float: left;
	padding: 5px;
}
#page_num a {
	text-decoration: none;
}
#page_num ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
table {
	margin: 20px;
	border: solid lightgray 1px;
}
th {
	background: #ebebeb;
	font-size: 12px;
	padding: 10px;
	border: solid lightgray 1px;
}

td {
	text-align: center;
	font-size: 12px;
	border: solid lightgray 1px;
	padding: 10px 30px 10px 30px;
}
select {
	font-size: 12px;
	padding: 10px;
	margin-left: 20px;
	border: solid lightgray 1px;
}
#uconame {
	font-size: 12px;
	padding: 11px;
	border: solid lightgray 1px;
	width: 300px;
}
.submit {
	background: #4d505a;
	border: none;
	color: white;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 30px 10px 30px;
}
h1 a{
	color: gray;
	margin-left: 20px;
}
hr{
	width: 1120px;
	border: solid 1px powderblue;
	margin-left:20px;
}
p{
	margin-left: 20px;
	font-size: 12px;
}
li{
	font-size: 14px;
	background: #ebebeb;
	border: solid #f5fcff 0.5px;
	margin: 5px;
	margin-bottom: 50px;
	transition:all 0.1s;
}
li a{
	color: gray;
	padding: 5px;
}
.color{
	background: #accfff;
	color: white;
}